{% extends 'base.html' %}

{% block content %}



<div class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-700">
            Admin Login
        </h1>
        <form class="space-y-4" action="auth/" method="post">
            {% csrf_token %}
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Email</span>
                </label>
                <input id="Email" name="email" type="email" placeholder="Email Address"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Password</span>
                </label>
                <input id="Password" name="pass" type="password" placeholder="Enter Password"
                    class="w-full input input-bordered" />
            </div>
            <!-- <a href="#" class="text-xs text-gray-600 hover:underline hover:text-blue-600">Forget Password?</a> -->
            <div>
                <button type="submit" class="btn btn-block btn-neutral rounded-md font-semibold font-xl">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}